# Node
/data_broker/node_modules/

# Credenciais do Google Cloud / Firebase
data_pipeline/secrets/firebase-credentials.json

# Python bytecode
__pycache__/
*.py[cod]
*.pyo


/env/central.env
/env/collector.env

data_pipeline/data/