services:

  simulator:
    build: ./eeg_acquisition
    environment:
      ACQ_PORT: 13854
      PACKET_INTERVAL: 1.0
    command: python simulator.py
    ports:
      - "13854:13854"
    profiles: ['sim-dual']
  acquisition:
    build: ./eeg_acquisition
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      PLAYER_ID: 2
      ACQ_PORT: 13854
      BROKER_URL: http://192.168.15.10:3000
      POOR_SIGNAL_LEVEL_THRESHOLD: 1.0
      EEG_HOST: simulator-b
      # EEG_HOST_B=host.docker.internal
    command: python acquisition_service.py
    depends_on: 
      - simulator-b
    profiles: ['sim-dual', 'live']